﻿@media only screen and (max-width: 768px) {

    .logo-dark {
        height: 25px !important;
    }

    #header #logo {
        position: absolute !important;
        width: 100%;
        text-align: left;
        margin: 0 !important;
        float: none;
        height: 80px;
        left: 0px;
        right: 0;
        padding: 0 !important;
        top: 7px !important;
    }
    #header[data-transparent=true]+.fullscreen {
        top: -50px;
        margin-bottom: -80px;
    }

    #header .header-inner #logo a>img, #header #header-wrap #logo a>img {
        vertical-align: inherit;
        transition: all .4s ease-in-out;
        height: 30px;
        width: auto;
        padding-left: 10px;
    }
    .no-padding {
        padding: 0 !important;
        margin-top: 15px;
    }

  }